[Unit]
Description=The MTF theme daemon
After=xorg.service
Requires=dbus.socket xorg.service

[Service]
Type=notify
ExecStart=/usr/bin/mthemedaemon -systemd
Restart=always


